<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_DIR" value="/home/centos/log/java"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    
    <appender name="TASK001" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK001</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task001" additivity="true" level="ALL">
        <appender-ref ref="TASK001"/>
    </logger>

    <appender name="TASK002" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK002</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task002" additivity="true" level="ALL">
        <appender-ref ref="TASK002"/>
    </logger>
    
    <appender name="TASK011" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK011</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task011" additivity="true" level="ALL">
        <appender-ref ref="TASK011"/>
    </logger>

    <appender name="TASK012" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK012</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task012" additivity="true" level="ALL">
        <appender-ref ref="TASK012"/>
    </logger>

    <appender name="TASK021" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK021</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task021" additivity="true" level="ALL">
        <appender-ref ref="TASK021"/>
    </logger>

    <appender name="TASK022" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK022</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task022" additivity="true" level="ALL">
        <appender-ref ref="TASK022"/>
    </logger>

    <appender name="TASK023" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK023</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task023" additivity="true" level="ALL">
        <appender-ref ref="TASK023"/>
    </logger>

    <appender name="TASK024" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK024</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task024" additivity="true" level="ALL">
        <appender-ref ref="TASK024"/>
    </logger>

    <appender name="TASK031" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK031</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task031" additivity="true" level="ALL">
        <appender-ref ref="TASK031"/>
    </logger>

    <appender name="TASK032" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK032</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task032" additivity="true" level="ALL">
        <appender-ref ref="TASK032"/>
    </logger>

    <appender name="TASK033" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK033</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task033" additivity="true" level="ALL">
        <appender-ref ref="TASK033"/>
    </logger>

    <appender name="TASK034" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK034</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task034" additivity="true" level="ALL">
        <appender-ref ref="TASK034"/>
    </logger>

    <appender name="TASK041" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK041</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task041" additivity="true" level="ALL">
        <appender-ref ref="TASK041"/>
    </logger>

    <appender name="TASK042" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK042</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task042" additivity="true" level="ALL">
        <appender-ref ref="TASK042"/>
    </logger>

    <appender name="TASK043" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK043</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task043" additivity="true" level="ALL">
        <appender-ref ref="TASK043"/>
    </logger>

    <appender name="TASK044" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK044</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task044" additivity="true" level="ALL">
        <appender-ref ref="TASK044"/>
    </logger>

    <appender name="TASK051" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK051</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task051" additivity="true" level="ALL">
        <appender-ref ref="TASK051"/>
    </logger>

    <appender name="TASK052" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK052</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task052" additivity="true" level="ALL">
        <appender-ref ref="TASK052"/>
    </logger>

    <appender name="TASK053" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK053</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task053" additivity="true" level="ALL">
        <appender-ref ref="TASK053"/>
    </logger>

    <appender name="TASK054" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK054</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task054" additivity="true" level="ALL">
        <appender-ref ref="TASK054"/>
    </logger>

    <appender name="TASK055" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK055</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task055" additivity="true" level="ALL">
        <appender-ref ref="TASK055"/>
    </logger>

    <appender name="TASK056" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/TASK056</file>
        <encoder><pattern>%msg%n</pattern></encoder>
    </appender>

    <logger name="net.iizs.test.daylightsaving.task.Task056" additivity="true" level="ALL">
        <appender-ref ref="TASK056"/>
    </logger>

</configuration>
